/*--  Colours

$light:										      	   		 #FFF;
$darknight:										     		#2C3E50;
$midnight:										     	   	 #333;
$midnight-light: 			 lighten($midnight, 50);
$dirty-gold:													#DBC034;
$calm:                                #3498DB;
$subtle:                              #F8F8F8;
$slime:                               #48A85A;
$burntsea:                            #487AA8;
$vibrant:                             #D44F99;

--*/



/*--  Bg Colours  --*/

.darkknight {
  background-color: #2C3E50;
}

.dirty-gold {
  background-color: #DBC034!important;
}

.vibrant {
  background-color: #d44F99;
}

.slime {
  background-color: #48A85A;
}

.slime:hover {
  background: #107823;
  border-color: #107823;
}

.burntsea {
  background-color: #487AA8;
}



/*--  Navbar  --*/

.ct-navbar--dark {
  background-color: #2C3E50;
}

.navbar .navbar-nav li a:hover, .navbar .navbar-nav li a:focus {
  color: #2C3E50;
}

.ct-pricing .ct-pricing-sep {
  color: #000;
}

.ct-pricing .ct-pricing-pricebox {
    color: #000;
}

.ct-pricing .ct-pricing-content {
  background-color: #000;
  background-color: #ebeff0;
}

.ct-coursesList {
  transition: 0.33s ease-in transform;
}

.workshop .ct-coursesList:hover {
  border-bottom: 5px solid #48A85A;
  /*transform: translateY(-5px);*/
}

.partime .ct-coursesList:hover {
  border-bottom: 5px solid #487AA8;
  /*transform: translateY(-5px);*/
}
.fulltime .ct-coursesList:hover {
  border-bottom: 5px solid #2C3E50;
  /*transform: translateY(-5px);*/
}

.ct-pricing .ct-pricing-content .ct-pricing-content-ul {
  max-width: 400px;
  padding: 10px 0;
}

.ct-pricing .ct-pricing-content .ct-pricing-content-ul li {
  color: #000;
}

.ct-pricing .ct-pricing-content .ct-pricing-content-ul li:before {
/*  content: "\f00d";*/
}

.ct-princing--second .ct-pricing-content {
  background-color: #000;
}

.ct-u-bgBlack {
  background: #2C3E50;
}

.ct-tabs--witharrow .nav-tabs > li > a,
.ct-tabs--withSlider .nav-tabs > li > a {
/*  border: 0;*/
/*  font-size: 20px;*/
}


.ct-tabs--witharrow .nav-tabs > li > a:hover,
.ct-tabs--withSlider .nav-tabs > li > a:hover,
.ct-tabs--witharrow .nav-tabs > li > a:focus,
.ct-tabs--withSlider .nav-tabs > li > a:focus,
.ct-tabs--witharrow .nav-tabs > li > a:active,
.ct-tabs--withSlider .nav-tabs > li > a:active {
/*  font-size: 20px;*/
  border: 1;
  text-decoration: bold;
}

.ct-tabs--witharrow .nav-tabs > li > a:hover:after,
.ct-tabs--withSlider .nav-tabs > li > a:hover:after,
.ct-tabs--witharrow .nav-tabs > li > a:focus:after,
.ct-tabs--withSlider .nav-tabs > li > a:focus:after,
.ct-tabs--witharrow .nav-tabs > li > a:active:after,
.ct-tabs--withSlider .nav-tabs > li > a:active:after {
  bottom: -17px;
}

.ct-widget p {
  color: #fff;
}

select.form-control {
/*  color: #3eaefa !important; */
  background-color: transparent !important;

}

.ct-pageSectionHeader{
  background-color: #c4c4c4;
}

.ct-tabs--courseList .nav-justified > .active > a, .ct-tabs--courseList .nav-justified > .active > a:hover, .ct-tabs--courseList .nav-justified > .active > a:focus{
  border: solid 2px;
}



/*--  Buttons  --*/

.btn-primary {
  border: solid 2px;
}




/*--  Course Card Module  --*/

.ct-coursesList .entry-date, .ct-coursesList .cat-links, .ct-coursesList .cat-links i {
  color: #666666;
}

.ct-coursesList .entry-date {
  position: relative;
  top: 13px;
}



/*--  Workshop Template  --*/

.ct-singleCourse-introLinks .cat-links {
  color: #333;
}

.ct-singleCourse-introLinks .cat-links i {
  color: #333;
}

.ct-singleCourse-introLinks .entry-date {
  color: #333;
}


/*--  Media Queries  --*/
@media screen and (min-width: 992px) {

  /*--  Navbar Position  --*/
  .nav.navbar-nav {
    position: relative;
    top: 8px;
  }
}
